.container-dashbord {
    height: auto;
}

.cardStyle {
    padding: 35px;
    text-align: left;
    border-right: 1px solid #f0f0f0;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cardStyle2 {
    padding: 35px;
    text-align: left;
    border-right: 1px solid #f0f0f0;
    border-radius: 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-left: 0;
}

.cardStyle3 {
    padding: 35px;
    text-align: left;
    border-right: 1px solid #f0f0f0;
    border-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
