.exam-card-container {
    background-color: #001529; /* Màu nền tối */
    color: white; /* Màu chữ trắng */
    border-radius: 8px;
    padding: 30px;
    max-width: 80%;
    margin: 5rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.exam-card-header {
    margin-bottom: 20px;
    text-align: center;
}

.exam-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    p{
        color: white;
    }

}

.exam-description {
    font-size: 16px;
    color: #d1d5db;
    margin: 5px 0 20px;
}

.exam-card-body {
    padding: 20px;
    background: #ffffff;
    color: #000000;
    border-radius: 8px;
}

.instructions-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.instructions-text {
    font-size: 14px;
    color: #333333;
    line-height: 1.8;
    margin-bottom: 20px;
}

.start-exam-btn {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    background-color: #1890ff;
    color: white;
    border-radius: 4px;
}

.start-exam-btn:hover {
    background-color: #40a9ff;
}
