.exam-card-container {
    background-color: #011e39; /* Màu nền tối */
    color: white; /* Màu chữ trắng */
    padding: 30px;
    max-width: 70%;
    margin: 5rem auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 20rem;
    position: relative;
}

.exam-card-header {
    margin-bottom: 25px;
    text-align: left;
    position: absolute;
    bottom: 10%;
    z-index: 0;
    p{
        padding: 0;
        margin: 0;
    }
}

.exam-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    
    p{
        color: white;
    }

}

.exam-description {
    font-size: 20px;
    color: #d1d5db;
}

.exam-card-body {
    position: absolute;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    color: #000000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    height: 30rem;
    top: 80%;
}

.instructions-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.instructions-text {
    font-size: 20px;
    color: #333333;
    
    padding-left: 2rem;
}

.start-exam-btn {
    display: block;
    width: 40%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    background-color: rgb(36, 48, 132);
    color: white;
    height: 3rem;
    margin: 0 auto;
    position: relative;

    
}

.start-exam-btn:hover {
    background-color: #1e537f;
}

.instructions-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #c8c8c8;
    gap: 0.2rem;
    text-align: center;
    justify-content: center;    
}

/* Hiệu ứng mờ khi loading */
.blur-content {
    filter: blur(6px); /* Hiệu ứng mờ */
    pointer-events: none; /* Vô hiệu hóa tương tác */
    opacity: 0.7; /* Giảm độ sáng */
    transition: all 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
  }
  
  /* Tăng kích thước tip */
  .ant-spin-text {
    font-size: 24px !important; /* Tăng kích thước chữ */
    font-weight: bold;
    color: #000000; /* Đổi màu chữ */
  }
  