.list-exam {
  height: 100%;

    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
      font-size: 24px;
      text-transform: uppercase;
    }
  
    .exam-container {
      padding: 20px;
     
  
      .ant-table {
        min-height: 600px; /* Chiều cao tối thiểu cho bảng */
      }
  
      .ant-table-body {
        max-height: 550px; /* Chiều cao cố định cho nội dung */
        overflow-y: auto; /* Cuộn dọc */
      }
    }
  }
  .header1 {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between; /* Đẩy nút sang bên phải */
    margin-bottom: 20px;
    position: relative; /* Để h1 ở giữa */
}

.header-title {
    flex: 1; /* Để tiêu đề chiếm không gian trung tâm */
    text-align: center; /* Căn giữa tiêu đề */
    margin: 0;
}

.create-exam-btn {
  display: flex;
  align-items: center; /* Căn giữa icon và text theo chiều dọc */
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create-exam-btn:hover {
    background-color: #218838;
}
.create-exam-btn .icon {
  margin-right: 8px; /* Khoảng cách giữa icon và chữ */
  font-size: 18px; /* Kích thước icon */
  display: flex;
  align-items: center;
}