.manage-questions-answers-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;

  .left-section,
  .right-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex: 1;
  }

  .left-section {
    max-width: 40%;
  }

  .right-section {
    max-width: 60%;
  }

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .ant-form-item {
    margin-bottom: 20px;
  }

  .ant-btn {
    margin-top: 16px;
  }
}

.question-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
}

.question-item input {
  width: 100%;
}

.question-item .ant-input {
  margin-bottom: 8px;
}


.question-list {
  margin-top: 16px;

  .ant-collapse-header {
    font-weight: bold;
  }

  .ant-collapse-extra {
    font-size: 16px;
    color: red;
  }
}
//
//.panel-content {
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//  gap: 10px;
//  margin-top: 10px;
//}
//
//.panel-content p {
//  margin: 0;
//}
//
//.correct-answer {
//  grid-column: span 2;
//  color: blue;
//  font-weight: bold;
//  text-align: left;
//  margin-top: 10px;
//}

