.timonial-container {
    background-image: url(https://html.modernwebtemplates.com/nafta/images/main-testimonial-bg.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 30rem; 
    
    .timonial-main{
        padding: 10rem;
        max-width: 90%;
        margin: 0 auto;
        gap: 4rem;
        align-items: top;
        .left-content-timonial{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .title-timonial{
                p{
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: rgb(9, 68, 89);
                }
            }
            .button-timonial{
                button{
                    width: 100%;
                    border: none;
                    border-radius: 30px;
                    background: linear-gradient(to right, #f39c12, #1e4d8b); 
                    p{
                        color: white;
                        padding: 1.2rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .center-content-timonial{
            
            text-align: center;
            gap: 2rem;
            p{
                font-size: 1.2rem;
            }

            .desc-bottom{
                p{
                    color: rgb(166, 153, 173);
                }
            }
        }
        .right-content-timonial{
            gap: 2rem;
            .avatar{

                img{
                    width: 4rem;
                    border-radius: 50%;
                }
            }
            .name{
                gap: 3rem;
                position: relative;
                p{
                    color: #09445a;
                    font-weight: 600;
                
                &::before{
                    position: absolute;
                    content: "";
                    background-color: rgb(222, 145, 69);
                    width: 3rem;
                    height: 0.1rem;
                    bottom: 65%;
                    right: 12%;

                }
                }
            }
        }
    }
}
