.question-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.question-navigation .ant-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-navigation .prev-next-btn {
  width: auto;
  height: auto;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 20px;
  background-color: transparent;
  color: #1890ff;
  font-weight: bold;
  border: none;
}

.question-navigation .prev-next-btn:hover {
  background-color: rgba(24, 144, 255, 0.1);
}

.exam-info{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.exam-info-details{
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
}