

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;

}

.display-flex{
  display: flex;
  flex-direction: row;

}

a, i{
  text-decoration: none;

}

input{
  outline: none;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}